# Dependencies
node_modules/

# Build outputs
build/
dist/
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/build/
android/*/build/
android/app/build/
ios/build/

# Capacitor
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json

# Logs
*.log
npm-debug.log*

# Secrets
.env
*.keystore
*.jks
